@import './base.css';
:root {
  --black: #202225;
  --dark: #2f3136;
  --dark-gray: #36393f;
  --gray: #42464d;
  --light-gray: #b9bbbe;
  --white: #ffffff;
  --main: #5865f2;
  --green: #3ba55d;

    --font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-display: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-headline: "ABC Ginto Nord","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
    font-family: var(--font-primary);
    font-size: 14px;
}
